{% extends "layout.html" %}

{% block content_header %}
  {{ build_breadcrumb('Outcall', '', 'long-arrow-right', ['List']) }}
{% endblock %}

{% block content %}
  <section class="content">
    {% call build_list_containers('Outcalls', 'long-arrow-right') %}
      {% call build_list_table() %}
        {% call build_list_table_headers(get=url_for('.OutcallView:get', id=''), delete=url_for('.OutcallView:delete', id='')) %}
          <th>Name</th>
          <th>Description</th>
        {% endcall %}
        {% call(outcall) build_list_table_rows(resource_list['items']) %}
          <td>{{ outcall.name }}</td>
          <td>{{ outcall.description }}</td>
        {% endcall %}
      {% endcall %}
    {% endcall %}

    {% call build_hidden_add_containers('Add Outcall') %}
      {% call build_form() %}
        {% call add_default_fields(form=form, submit_value="Add") %}
          {{ render_field(form.name) }}
          {{ render_field(form.description) }}
          {{ render_field(form.trunk, data_listing_href=url_for(listing_urls['trunk'])) }}
          {{ render_field(form.extensions) }}
        {% endcall %}
      {% endcall %}
    {% endcall %}
  </section>
{% endblock %}
